html, 
body {
    font-family: arial, helvetica, sans-serif;
    margin-left: 15vh;
    margin-right: 14vh;
    background-color: linen;}

   
.fundo{
    background-color: whitesmoke;}
    
    h1{

        font-family: 'Brush script MT', cursive;
        font-size: 50px;
        color: tomato;
        margin-left: 325px;} 
      